body{
    background-color: #669966;
    padding: 0;
    margin: 0;
    font-family: 'Lobster', cursive;
}

#container{
    position: relative;
    top: 20px;
    background-color: #009999;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    border: 1px solid #00aaaa;
    text-align: center;
    font-size: 2em;
}

.add{
    width: 50%;
    border: 2px solid #222;
    background-color: #696;
    margin: 5px auto 5px auto;
    padding: 5px;
}

.add:hover{
    width: 50%;
    border: 2px solid #222;
    background-color: #696;
    margin: 5px auto 5px auto;
    padding: 5px;
    opacity: 0.8;
    cursor: pointer;
}

#counter{
    color: #fff;
}

#number{
    color: #505050;
    font-size: 2em;
}